<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% if (it.someval === "someothervalue") { %>
        Display this!
      <% } else { %>
        They're not equal
      <% } %>
      
      <% users.forEach(function(user){ %>
        <%= user.first %> <%= user.last %>
      <% }) %>
      
      <% Object.keys(someObject).forEach(function(prop) { %>
        <%= someObject[prop] %>
      <% }) %>
      
      
      <% console.log("The value of it.num is: " + it.num) %>
</body>
</html>